# Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller / Build Artifacts
build/
dist/
*.spec

# IDE configs
.vscode/
.idea/

# Local databases
*.db
*.sqlite3
